input[type=number]{
    width: 70px;
}

html {
    height: 100%
}
{ margin: 0; padding: 0; }
body {
    height: 100%;
    background-repeat:no-repeat;
    background-position:center center fixed;
    background-size: cover;
}
